# Archivos de bases de datos y reportes
*.db
*.xlsx

# Archivos temporales de Python
*.pyc
__pycache__/

# Variables de entorno
.env

# Archivos de configuración de sistema operativo (opcional)
*.DS_Store
Thumbs.db

# Carpeta virtualenv (si la usás)
venv/
